/* Style the header */
.header {
  text-align: center;
  color: black;
}

/* Increase the font size of the h1 element */
.header h1 {
  text-align: right;
  font-size: 40px;
}

/* Increase the font size of the h2 element */
.header h2 {
  text-align: right;
  font-size: 20px;
}

.header h3 {
  text-align: right;
  font-size: 15px;
}




.container {
  margin-top:5%;
     width:100%;
     position: relative;
     color: black;
 }



 .centered {
   position: absolute;
   top: 65%;
   left: 65%;
   transform: translate(-50%, -50%);
   color: white;
   font-size: 20px;

 }







/* Style the top navigation bar */
.navbar {
  overflow: hidden;  /* Hide overflow */
  background-color: black; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: yellow; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: yellow; /* Grey background color */
  color: #1abc9c; /* Black text color */
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .navbar b {
    float: none;
    width: 100%;
  }
}

div {
  opacity: 0.8;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}




/* Style the footer */
.footer {
  color: yellow;
  text-align: center;
  background-color: black;
  padding: 14px 20px;
}
